/* add styles here */
html { height: 100%; }
body {
   	/*background: -moz-linear-gradient(center top , rgb(159,159,159) 0pt, rgb(109,109,109) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(159,159,159)), to(rgb(109,109,109)));*/
	background: rgb(159,159,159);
	width:100%;
	height: 98.2%; 
	margin: 0px; 
	padding: 0px;
	scrollbar-face-color:#FF0000;
}

#divmain{
	width:100%;
	height: 100%;
}
#etiqueta{
	display:none;
}
#cabecera{
	margin-top: 0.8%;
	width:100%; 
	height:8%;
	background: -moz-linear-gradient(center top , rgb(13,186,85) 0pt, rgb(9,139,63) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(13,186,85)), to(rgb(9,139,63))) repeat scroll 0% 0% transparent;
	text-align: center; 
	font-family: 'Times New Roman',Times,serif; 
	font-size: 1.6em; 
	font-weight: bold; 
	line-height: 1.4em; 
	color: white;
}

#info{
	/*position:absolute;*/
	float:bottom;
	height:5%;
  	width:100%;
	margin-top:45%;
	background: -moz-linear-gradient(center top , rgb(13,186,85) 0pt, rgb(9,139,63) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(13,186,85)), to(rgb(9,139,63))) repeat scroll 0% 0% transparent;
}

#account{
	position:relative;
	margin-top: 0.8%;
	display: block;
	float: right;
	font-size: 19px;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	color: black;
	/*text-shadow: #870802 0 1px 0;*/
}

#profile {
	position:relative;
	margin-top: 0.8%;
	display: block;
	float: right;
	font-size: 19px;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	text-shadow: #870802 0 1px 0;
	height:80%;
	width:100%;
}

#logo_cabecera{
	position: absolute;
	top: 1px;
	left: 15px;
	width: 10%; 
	z-index: 1;
}

#marco1{
	/*height: 40%; 
	font-style: oblique; 
	font-weight: normal; */
	width: 100%; 
	float: left;
	position: relative;
	margin-right: 65%;
	margin-top: 10%;
}

#marco2{
	/*height: 40%; 
	width: 40%; */
	float: right; 
	position: relative; 
	margin-right: 25%;
	/*margin-top: 15%;*/
	border: 2px ridge;
   	text-align:left;
}

#mensaje_login{
	color: red;
	font-size: 12px; 
}

#mensaje_reg{
	color: red;
	font-size: 12px; 
}

#imagen_login{
	width: 40%; 
	margin-left: 7%;


}

#nav_uno{
	position: absolute;
	margin-top: 5px;
	left: 10%;
	z-index: 1;
}

#nav_dos{
	position: absolute;
	margin-top: 5px;
	left: 79%;
	z-index: 1;
	font-size: 15px;
}

#map_canvas{
	width:50%; 
	height:90%;
	position: relative; 
	float: left; 
	display: table-header-group; 
	margin-left: 7%; 
	margin-top: 2%;
}

#marcos{
	width:100%; 
	height:75%;
}

#grupo{
	height: 100%; 
	font-style: oblique; 
	font-weight: normal; 
	width: 40%; 
	float: left; 
	position: relative; 
	margin-left: 7%;
	margin-top: 3%;
		
}	

#mapa{
	height: 100%; 
	font-style: oblique; 
	font-weight: normal; 
	width: 40%; 
	float: right; 
	position: relative; 
	margin-right: 7%;
	margin-top: 3%;
}

#text_map{
	position: relative; 
	float: right; 
	display: table-header-group; 
	margin-right: 6%; 
	margin-top: 2%;
	width:35%; 
	height:90%;
	background-color: white;
	text-align: right; 
	padding: 0% 1% 0% 0%;
}

#imagenmapa{
	width: 100%; 
	height: 100%; 
	display: inline; 
	visibility: visible;
}

#imagengrupo{
	width: 100%;
	height: 100%;
	display: inline;
	visibility: visible;
}

#botones{
	margin-top: 3%;
}

#botongrupo{
	position: relative; 
	float: left; 
	display: table-header-group; 
	margin-left: 17%; 
}

#botonmapa{
	position: relative; 
	float: right; 
	display: table-header-group; 
	margin-right: 17%;
}

#boton_volver{
	position:relative;
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}

#boton_recargar{
	margin-left:5%;
}

#nombre_tabla {
	color: #0DBA55;
	width:100%;
	text-align:center;
	vertical-align:middle;
}

#spinner{
	position: relative;
	float: right;
	margin-bottom: 5px;
}

#boton_fav{
	border:none; 
	width:25px; 
	height:25px: 

}

.boton_fav_ind{
	border:none; 
	width:15px; 
	height:15px: 

}

#tabla_result{
	position: relative; 
	float: right; 
	display: table-header-group; 
	width: 95%;
	height: 75%;
	
}

.elemento-resultado{
	position: relative;
	float: left;
	border: 1px solid rgb(13,186,85);
	
	text-align: right; 
	margin-right: 5%;
	margin-top: 5%;
	width: 90%;
	height: 10%;
	padding: 50px, 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	height: 24px;	

}

.scroll{
	position: relative; 
	float: right; 
	display: table-header-group; 
	text-align: right; 
	width:95%;
	height:70%;
	background-color:rgb(9,139,63);
	overflow:auto;
}

.item_nav {
	float: left;
	display: block;
	margin-right: 20px;
	text-shadow: #870802 0 1px 0;
}

#primaryNav .link_nav {
	display: block;
	float: left;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: #870802 0 1px 0;
}

.link_nav:hover{
	color: white;
}

.marco_index{
   text-align:left;
   width: 425px;
   margin-right:5%;
   float:right; 
   margin-top:5%;
}

.centrar{
    text-align:center;
}

.estilo_boton{
	color:rgb(255, 255, 255);
	text-shadow: 0pt -1px 0pt rgba(0,0,0,0.25);
	background-color: rgb(1,94,7);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, rgb(1,94,7), rgb(3,108,10));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(1,94,7)), to(rgb(3,108,10)));
	border: 1px;
	border-color: rgb(13,186,85);
	margin-left: 2px;
	margin-top: 3px;
}

.text_boton{
	padding: 5px, 7px;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	height: 24px;
}

.boton_logout{	
	font-size: 15px;
	padding: 5px;
	margin-right: 10px;
}

.estilo_boton:hover{
	color:rgb(255, 255, 255);
	background-color: rgb(9,139,63);
	text-shadow: 0pt -1px 0pt rgba(0,0,0,0.25);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(rgb(25,150,30), rgb(9,139,63));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(25,150,30)), to(rgb(9,139,63)));
	border: 1px;
	border-color: rgb(13,186,85);
	margin-left: 2px;
	
}

.estilo_input{
	border-radius: 2px;
	margin-top: 2px;
}

.text_input{
	height: 20px;
	border: 1px solid rgb(204,204,204);
}

.estilo_input:focus{
	box-shadow: 0pt 0px 3px rgba(25,150,30,0.05) inset, 0pt 0pt 5px rgba(9,139,63, 4);
	-webkit-box-shadow: 0 0 5px 1px rgb(25,150,30);
	border: 1px solid rgb(13,186,85);
}

.estilo_marco{
	border: 2px ridge ;
	border-radius:6px;
}

h1 {
  margin-top:0;
}

#content {
  border:4px solid #dde;
  background:#eef;
  padding:8px;
  width:60%;
  float:left;
  display: none;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
  display: none;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  padding:8px;
  margin:4px 0;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

ul {
  list-style: none;
}
/*CSS que se utiliza para la cabecera*/
a{
	text-decoration :none;
	color: black;
}

a:hover{
	text-decoration :none;
	color: grey;
}


h3{
	margin-left: 10%;
	font-weight: bold;
	color: blue;

}

h1{
	position: relative;
	float:center;
	font-weight: bold;
	text-align: center;
	color: white;
}

p{
	margin-left: 10%;
	font-weight: bold;
	color: blue;
	border-color: rgb(13,186,85);
	background-color:rgb(255,255,255);
}

p.letraka{
	margin-left: 5%;
	font-weight: bold;
	color: black;
	font-size: 15px;
	background-color: rgb(159,159,159);
	text-align:justify;
        margin-right:2%;
}

.scroll-s{
	position: relative; 
	width:95%;
	height:70%;
	background-color: rgb(159,159,159);
	overflow:auto;
}
#cabecera_api{
	position: relative;
	margin-left: 5%;
	width:90%;
	height: 15%;
	/*background-color: rgb(13,186,85);*/
}

#wahan{
	margin-top: 10%;
	font-weight: bold;
	font-size: 20px;
	color: rgb(255,255,255);

}




