html { height: 100%; }

body{ 
	background: -moz-linear-gradient(center top , rgb(159,159,159) 0pt, rgb(109,109,109) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(159,159,159)), to(rgb(109,109,109)));
	width:100%;
	height: 98.2%; 
	margin: 0px; 
	padding: 0px;
	scrollbar-face-color:#FF0000;

}

#nombre_tabla {
	color: #0DBA55;
	width:100%;
	padding: 0% 0% 0% 0%;
	vertical-align:middle;
}

#main{
	width:100%;
	height: 100%;
}

#cabecera{
	margin-top: 0.8%;
	width:100%; 
	height:8%;
	background: -moz-linear-gradient(center top , rgb(13,186,85) 0pt, rgb(9,139,63) 100%) repeat scroll 0% 0% transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(13,186,85)), to(rgb(9,139,63))) repeat scroll 0% 0% transparent;
	text-align: center; 
	font-family: 'Times New Roman',Times,serif; 
	font-size: 1.6em; 
	font-style: oblique; 
	font-weight: bold; 
	line-height: 1.4em; 
	color: white;
}

#logo_cabecera{
	position: absolute;
	top: 1px;
	left: 15px;
	width: 10%; 
	z-index: 1;
}

#nav_uno{
	position: absolute;
	margin-top: 5px;
	left: 10%;
	z-index: 1;
}

#nav_dos{
	position: absolute;
	margin-top: 5px;
	left: 79%;
	z-index: 1;
	font-size: 15px;
}

.item_nav {
	float: left;
	display: block;
	margin-right: 20px;
}

#primaryNav .link_nav {
	display: block;
	float: left;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: #870802 0 1px 0;
}

.link_nav:hover{
	color: black;
	background-color: rgb(13,186,85);
	padding: 8px;
}

#map_canvas{
	width:50%; 
	height:80%;
	position: relative; 
	float: left; 
	display: table-header-group; 
	margin-left: 7%; 
	margin-top: 2%;
}

#marcos{
	width:100%; 
	height:75%;
}

#grupo{
	height: 100%; 
	font-style: oblique; 
	font-weight: normal; 
	width: 40%; 
	float: left; 
	position: relative; 
	margin-left: 7%;
	margin-top: 2%;
		
}	

#mapa{
	height: 100%; 
	font-style: oblique; 
	font-weight: normal; 
	width: 40%; 
	float: right; 
	position: relative; 
	margin-right: 7%;
	margin-top: 2%;
}

#text_map{
	position: relative; 
	float: right; 
	display: table-header-group; 
	margin-right: 6%; 
	margin-top: 2%;
	width:35%; 
	height:80%;
	background-color: white;
	text-align: right; 
	padding: 0% 1% 0% 0%;
}

#imagenmapa{
	width: 100%; 
	height: 100%; 
	display: inline; 
	visibility: visible;
}

#imagengrupo{
	width: 100%;
	height: 100%;
	display: inline;
	visibility: visible;
}

#botones{
	margin-top: 3%;
}

#botongrupo{
	position: relative; 
	float: left; 
	display: table-header-group; 
	margin-left: 17%; 
}

#botonmapa{
	position: relative; 
	float: right; 
	display: table-header-group; 
	margin-right: 17%;
}

#boton_volver{
	position:relative;
	float: left;
	margin-left: 3px;
	margin-top: 3px;

}

#tabla-result{
	position: relative; 
	float: right; 
	display: table-header-group; 
	width: 100%;
	height: 100%;
	
}

#elemento-resultado{
	position: relative;
	float: left;
	border: 1px solid rgb(13,186,85);
	
	text-align: right; 
	margin-right: 5%;
	margin-top: 5%;
	width: 90%;
	height: 10%;
	padding: 50px, 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	height: 24px;	

}

.estilo_marco{
	border: 2px ridge ;
	border-radius:6px;
}

.estilo_boton{
	color:rgb(255, 255, 255);
	text-shadow: 0pt -1px 0pt rgba(0,0,0,0.25);
	background-color: rgb(13,186,85);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, rgb(13,186,85), rgb(9,139,63));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(13,186,85)), to(rgb(9,139,63)));
	border: 0px;
	border-color: rgb(13,186,85);
	margin-left: 2px;
}

.text_boton{
	padding: 5px, 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	height: 24px;	
	border: 1px solid rgb(13,186,85);
}

.estilo_boton:hover{
	background-color: rgb(13,186,85);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, rgb(13,186,85), rgb(9,139,63));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(13,186,85)), to(rgb(9,139,63)));
	border: 0px;
	border-color: rgb(6,104,47);
}

.estilo_input{
	border-radius: 2px;
}

.text_input{
	height: 20px;
	border: 1px solid rgb(204,204,204);
}

.estilo_input:focus{
	box-shadow: 0pt 1px 3px rgba(13,186,85,0.05) inset, 0pt 0pt 5px rgba(9,139,63, 4);
	border: 1px solid rgb(13,186,85);
}

.scroll{
	position: relative; 
	float: right; 
	display: table-header-group; 
	text-align: right; 
	width:95%;
	height:80%;
	background-color:rgb(9,139,63);
	overflow:auto;
}


A:link {
	text-decoration: none;
	color: white;
}

A:visited {
	text-decoration: none;
	color:white;
}

A:active {
	text-decoration: none;
	color: white;
}

A:hover {
	text-decoration: none;
	color: white;
}
